/* styles.css - minimal styling */
@font-face {
  font-family: "Graphik";
  src: url("font/Graphik Family/Graphik-Regular-Trial.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik";
  src: url("font/Graphik Family/Graphik-Semibold-Trial.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: sans-serif, Helvetica, sans-serif, ;
  
  
  /*
  #99AABB light gray text 
  #40BCF4 blue
  #00E054 green
  #FF8000 orange
  */

  color: #f8f8f8;
  background: #202830;
  
  /* font-size: large; */
}
.container h1 {
  margin: 0 0 0px 0;
  font-size: 24px;
  width: 106%;
}
.search-block {
  margin-bottom: 10px;
}
.search-block label { font-weight: bold; display:block; margin-bottom:4px; }
input {
  width: 100%;
  padding: 6px 8px;
  box-sizing: border-box;
  border: 0px solid #FF8000;
  border-radius: 4px;
  background: #99AABB;
}
.results {
  list-style: none;
  padding: 4px 0;
  margin: 6px 0;
  max-height: 160px;
  overflow: auto;
  border: 1px solid #eee;
  background: #fff;
}
.results li {
  padding: 6px 8px;
  cursor: pointer;
  border-bottom: 1px solid #f1f1f1;
  display: flex;
  gap: 8px;
  align-items: center;
}

.chosen { margin-top: 4px; font-size: 13px; color: #333; }

.primary-blue {
  display:block;
  width:100%;
  background: #2f67b1;
  color: #fff;
  border:none;
  border-radius:16px;
  cursor:pointer;
}

.primary-blue:hover {
  background: #13468a;
  transition: background 0.1s ease-in-out;
}

.text-blue {
  color: #2f67b1;
}

.primary-green {
  display:block;
  width:100%;
  background: #659157;
  color: #fff;
  border:none;
  border-radius: 16px;
  cursor:pointer;
}

.primary-green:hover {
  background: #4b6d41;
  transition: background 0.1s ease-in-out;
}

.text-green {
  color: #659157;
}

.primary-orange {
  display:block;
  width:100%;
  background: #edae49;
  color: #fff;
  border:none;
  border-radius: 16px;
  cursor:pointer;
}

.primary-orange:hover {
  background: #b48130;
  transition: background 0.1s ease-in-out;
}

.text-orange {
  color: #edae49;
}

.primary-purple {
  display:block;
  width:100%;
  background: #884e88;
  color: #fff;
  border:none;
  border-radius: 16px;
  cursor:pointer;
}

.primary-purple:hover {
  background: #613761;
  transition: background 0.1s ease-in-out;
}

.text-purple {
  color: #884e88;
}

.text-gray {
  color: #99AABB;
}

.primary:disabled { background:#9bbcff; cursor:default; }
.status { margin-top:12px; color: #444; font-size: 13px; }
small { color: #666; }

footer {
    position: fixed; /* Fixes the position relative to the browser window */
    bottom: 0;       /* Anchors it to the bottom edge */
    left: 0;         /* Anchors it to the left edge */
    width: 100%;     /* Ensures it spans the full width */
    background-color: #202830;
    color: white;
    
    padding: 10px 0;
    height: var(--footer-h);
}



.flex-child {
  display: inline-block;
}

.delete-run img {
  pointer-events: none;
}

.rotate {
  transform: rotate(60deg);
  white-space: nowrap; 
}

.nav-button {
  background-color: transparent;
  border: none;
  color: #f8f8f8;
  font-size: 36px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  margin-left: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px; 
}

#cy { width: 100%; height: 100%; display: block; }

.search-container {
  position: relative;
}

.search-results-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background: #202830;
  border: 2px solid #99AABB;
  border-radius: 4px;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.search-result-item {
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Graphik', sans-serif;
  font-size: 14px;
  color: #f8f8f8;
  border-bottom: 1px solid rgba(153, 170, 187, 0.2);
  display: flex;
  justify-content: space-between;
}

.search-result-item:hover {
  background: #151a1f;
  transition: background 0.1s ease-in-out;
}

.path-item {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background: #202830;
  border-radius: 4px;
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.path-item:hover {
  background: #2c3844;
  transition: background 0.1s ease-in-out;
}

.search-result-type {
  font-size: 11px;
  color: #99AABB;
  text-transform: uppercase;
}

.search-results-dropdown:empty {
  display: none;
  border: none;
  padding: 0;
  margin: 0;
}

#github-link, #letterboxd-link, #info-link {
    cursor: pointer;
}

.search-input-error {
    border: 4px solid #edae49 !important;
    transition: border 0.5s ease;
}

.input-error-msg {
    position: absolute;
    bottom: -22px;
    left: 0;
    color: #edae49;
    font-family: 'Graphik', sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 1;
    transition: opacity 1s ease;
    pointer-events: none;
    white-space: nowrap;
    z-index: 10;
}


.custom-toggle-btn {
    font-family: 'Graphik', sans-serif;
    font-weight: 400;
    font-size: 24px;
    width: 20px;
    height: 20px;
    border: 2px solid white; /* Thin outer border */
    background-color: white; /* Default dark background */
    border-radius: 50%; /* Circular shape */
    color: #99AABB;
    box-sizing: border-box;
    
    cursor: pointer;
    user-select: none;
    transition: all 0.15s ease-in-out;
    text-align: left;
}

.custom-toggle-btn.custom-toggle-active {
    background-color: #884e88; /* Purple background */
    color: #ffffff;
    border-color: #884e88; /* Keeps thin outer border */
    box-shadow: inset 0 0 0 4px #ffffff; /* Thick white inner border */
}

